@media (max-width: 1120px) {
    .cabecalho .logo {
        max-width: 190px;
    }

    .selecao-de-marca {
        flex-direction: column-reverse;
        max-width: 430px;
        margin: 0 auto;
    }

    .selecao-de-marca .marcas {
        margin-top: 37px;
    }

    .selecao-de-marca .marcas .titulo {
        font-size: 15px;
    }

    .selecao-de-marca .lista-de-marcas {
        gap: 9px
    }

    .selecao-de-marca .marca img {
        width: 80px;
    }

    .marca-selecionado .marca-grande {
        width: 350px;
        height: 350px;
    }

    .marca-selecionado .descricao-marca {
        width: 80%;
        font-size: 16px;
        margin: 20px auto;
    }

}

@media (max-width: 1120px) {
    .cabecalho .IMG {
        max-width: 190px;
    }

    .container {
        flex-direction: column-reverse;
        max-width: 430px;
        margin: 0 auto;
    }

    .container .product {
        margin-top: 37px;
    }

    .container .product .image {
        font-size: 15px;
    }

    .container .product {
        gap: 9px
    }

    .container .product span {
        width: 80px;
    }

    .container .product {
        width: 350px;
        height: 350px;
    }

    .container .product .detail p span {
        width: 80%;
        font-size: 16px;
        margin: 20px auto;
    }

}